<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 

	<property name="LOG_PATH" value="./logs" /> 
	<property name="LOG_FILE_NAME" value="logfile" /> 

	
	<appender name="ConsoleOutput"
		class="ch.qos.logback.core.ConsoleAppender"> 
		<layout class="ch.qos.logback.classic.PatternLayout"> 
			<Pattern> 
				%white(%d{ISO8601}) %highlight(%-5level) [%yellow(%t)] : %msg%n%throwable 
			</Pattern> 
		</layout> 
	</appender> 

	
	<appender name="LogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file> 
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n 
			</Pattern> 
		</encoder> 
		
	</appender> 

	
	<root level="info"> 
		<appender-ref ref="LogFile" /> 
		<appender-ref ref="ConsoleOutput" /> 
	</root> 
	
</configuration>
